.content { padding: @spacing-medium 0; }

.content--shrink { padding: 0 }

.content--large { padding: @spacing-large 0; }

.content--xlarge { padding: @spacing-xlarge 0; }

.content--lightgray {
  background-color: @lightgray;
  border-bottom: 1px solid @darkgray;
}

.content--gray {
  background-color: @darkgray;
}

.thumb {
  max-width: 100%;
  height: auto;
  //display: block;
}

.property__thumb {
  max-width: 100%;
  height: auto;
  border: 5px solid @tertiary;
  margin-bottom: @spacing-small;

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    margin-bottom: 0
  }

}

.content--work--background {
  background-image: url("../img/proton/hero--company--two.jpg");
  background-size: cover;
  background-position: top center;
}

.video-wrap {
  display: block;
  position: relative;

  .video-wrap__icon {
    visibility: hidden;
    background-color: rgba(0,0,0,0.50);
    padding: 162px 266px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    font-size: 30px;
  }

  &:hover {

    .video-wrap__icon {
      visibility: visible;
    }

  }

}

.section--department {
	padding: 80px 0;
	background-color: #fff;
	margin-bottom: 10px;
	background-size: cover;

	.section--department__title {
		text-align: center;
		display: inline-block;
		background-color: #fff;
		margin-bottom: 80px;
		margin-top: 0;
		color: #333;
		padding: 5px;

		span {
			display: inline-block;
			padding: 10px;
			border: 1px solid #333;
		}

	}

	p { font-size: 16px; }

}

.content__people{

  .tab-content{
    margin-top: 40px;
    text-align: center;

    a { color: @light; }

    .choose-a-member {

    	p {
	      text-align: center;
	      color: #fff;
	      font-size: 18px;
      }
    }

    @media (min-width: 992px) {
      margin-top: 0;
      text-align: left;
    }

  }

  .thumb{

    img{
      width: 175px;
      height: 175px;
      margin-bottom: 20px;
      border: 5px solid #fff;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

    }

    @media (min-width: 768px) {
      float: left;
    }

  }

  .content{
    color: #fff;

    .name{
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 26px;
    }

    .title{
      font-size: 18px;
      margin-top: 0;
    }

    .content__details{
      margin-top: 25px;

      p{
        font-size: 16px;
      }

    }

    @media (min-width: 768px) {
      width: 490px;
      float: left;
      margin-left: 26px;
    }

  }

}

.about-tabs{
  border-bottom: 0;

  > li {
    float: none;
    display: block;

    a,
    &.active > a:hover {
      border: 0;
      background-color: transparent;
      font-size: 16px;
      padding: 3px 0 3px 10px;
      text-align: left;
      border-radius: 0;
      border-left: 2px solid @lightgray;
      color: @lightgray;
      -webkit-transition: all 500ms ease-out;
      transition: all 500ms ease-out;
      text-decoration: none;
    }

    &.active > a,
    &.active > a:focus,
    a:hover {
      border: 0;
      border-left: 2px solid @light;
      color: @light;
      background-color: transparent;
      font-weight: 600;
    }

  }

}


.content--news {

	a { text-decoration: underline; }

	.item__headline {
		margin-top: 0;
	}

	.content--news__item {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #ccc;

		p { font-size: 16px; }

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
			margin-bottom: 0;
		}

	}

	.item__date {
		color: #666666;
    font-size: 18px;
    margin-top: 0;
	}

	.content--news__individual {

	}

}
