.footer{
  padding: @spacing-large 0;
  background-color: @tertiary;
  color: #fff;
  text-align: center;
  font-size: 14px;

  .footer__nav {
    padding: 0;
    margin-bottom: @spacing-medium;

    li {
      list-style: none;
      margin-bottom: @spacing-small;

      a {
        color: #fff;
        text-transform: uppercase;
        margin: 0 @spacing-small;
        text-decoration: none;
      }

      @media (min-width: 768px) {
        display: inline-block;
        margin-bottom: 0;
      }

    }

  }

  .footer__left{

    @media (min-width: 768px) {
      text-align: left;
    }

  }

  .footer__right{
    margin-top: 10px;

    @media (min-width: 768px) {
      text-align: right;
      margin-top: 0;
    }

  }

}

.page-template-page-news,
.page-template-page-expertise,
.page-template-page-contact {

	footer {
		padding-top: 20px;

		hr {
			display: none;
		}

	}

}
