.hero {
  background-color: @tertiary;
  text-align: center;
  color: @light;
  background-size: cover;
  background-position: top center;
}

.hero__content {
  // NOTE: Gnarly offset here to account for the navigation
  padding: @spacing-xlarge 0;
}

// NOTE: Individual hero styling here.
.page-template-index-php .hero { background-image: url("../img/proton/hp_hero.jpg"); }

.page-template-page-services-php .hero { background-image: url("../img/proton/hero--solutions.jpg"); }

.page-template-page-company .hero { background-image: url("../img/proton/hero--company.jpg"); }

.page-template-page-news .hero { background-image: url("../img/proton/hero--news.jpg"); }

.page-template-page-work .hero { background-image: url("../img/proton/hero--company--two.jpg"); }

.page-template-page-contact .hero { background-image: url("../img/proton/hero--company--two.jpg"); }
