.hero {
	text-align: center;
  background-size: cover;
	.gradient;

  &.page-template-index { }

  &.page-template-page-contact { }

  &.page-template-page-expertise { }

  &.page-template-page-work { }

  &.page-template-page-news,
  &.single-post { }

  &.page-template-page-about { }

}

.hero__content {
	color: #fff;
	padding: (@spacing-large + @spacing-small) 0 @spacing-extralarge;

	.headline {
		font-family: @headline-font;
		font-weight: 400;
		font-size: 36px;
		line-height: 54px;
		margin-bottom: @spacing-small;
	}

	.sub-headline {
		font-family: @body-font;
		font-size: 20px;
		line-height: 30px;
		font-weight: 400;
	}

}

@media (min-width: 560px) {

}

@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
