.headline,
.subheadline {
	line-height: 1.5em;
  letter-spacing: 0;
}

.headline {
	font-family: @headline-font;
	font-weight: 400;
	font-size: 36px;
	line-height: 54px;
}

.headline--primary { color: @primary; }
.headline--secondary { color: @secondary; }
.headline--tertiary { color: @tertiary; }
.headline--light { color: @light; }

.subheadline {
	font-family: @headline-font;
	color: @lightgray;
	font-size: 24px;
	font-weight: 400;
}

.subheadline--tertiary { color: @tertiary; }
.subheadline--light { color: @light; }
.subheadline--darkgray { color: @darkgray; }

.message {
	font-size: 18px;
	color: @darkgray;
}

.message--light { color: @light; }

.message--style-content {
  font-size: 18px;

  li {
    margin-bottom: @spacing-small;
  }

}
