.headline,
.subheadline,
.copy {
	line-height: 1.5em;
}

.headline {
	font-family: @headline-font;
	font-weight: 400;
	font-size: 36px;
	line-height: 54px;
}

.subheadline {
	font-family: @headline-font;
	color: @lightgray;
	font-size: 20px;
	font-weight: 400;
}

.subheadline--dark {
	color: @tertiary;
}

.message {
	font-size: 16px;
	color: tint(@tertiary, 30%);
}
